<%- include("header") -%>
<div class="box1" id="heading">       
    <h1>Список задач</h1>
</div>        
<div class="box">
    
    <% for(let i=0;i<newListItem.length;i++) { %>
        <form action="/" method="post">
            <div class="item">
               <div class="round">
               <input type="checkbox"id="checkbox">            
               <label for="checkbox"></label>
               </div>
               <p><%= newListItem[i] %></p>
               <!-- <br> -->
           </div>         
       </form>   
   <% } %> 
   
<form class="item" action="/" method="post">
        <input type="text" name="n"  placeholder="Введите задачу..."><hr>
        
        <button class="btn" id="b" type="submit" <span id="s2"></span>+</span></button> 
</form>
</div>